jinja2
click==8.0
Flask==2.2.5
Flask-PyMongo==2.1.0
Flask-Redis==0.3.0
Flask-SQLAlchemy==3.1.1
gevent
greenlet
jsonschema==2.6.0
pymongo==3.13.0
redis==2.10.6
requests==2.31.0
SQLAlchemy==2.0.16
Werkzeug==2.2.2
pymysql
webargs
cent
mock
python-dateutil
uwsgi
redlock-py==1.0.8