# Flask

SECRET_KEY=

# Mysql

MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_HOST=
MYSQL_PORT=

# Mongo

MONGO_HOST=
MONGO_PORT=

# Redis

REDIS_USER=
REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=

# Ejudge

EJUDGE_NEW_CLIENT_URL=
EJUDGE_NEW_MASTER_URL=
EJUDGE_MASTER_TOKEN=
