{
  "1": {
    "name": "local-ejudge",
    "url": "http://localhost/cgi-bin/new-master",
    "token": "your token here...",
    "sender_user_id": 1,
    "lang_map": {},
    "langs": {
      "3": "GNU C++ 11.2",
      "27": "Python 3.9"
    }
  }
}
