{
  "1": {
    "name": "local-ejudge",
    "url": "http://localhost/cgi-bin/new-master",
    "token": "your token here...",
    "sender_user_id": 1,
    "langs": {
      "3": {"name": "GNU C++ 11.2", "ejudge_lang_id": 3},
      "27": {"name": "Python 3.9", "ejudge_lang_id": 62}
    }
  }
}
